body {
  background-color: #111223;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 75%;
}

.flex-box-container-1,
.flex-box-container-2,
.flex-box-container-3,
.flex-box-container-4,
.flex-box-container-5,
.flex-box-container-6 {
  padding: 20px;
}

.header,
.footer {
  background-color: #1cae54;
  width: 100vw;
  height: 100px;
  animation-name: boxAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes boxAnimation {
  0% {
    background-color: #1cae54;
  }
  45% {
    background-color: #afa65c;
  }
  100% {
    background-color: #3e570b;
  }
}
